
@{
    Layout = "~/Views/MyLayout/UserLayout.cshtml";
    ViewBag.Title = "Game Online";
}


@section News{
    <li class="active"><a href="@Url.Action("News", "Game")">News</a></li>
}
<h2>News</h2>

