
<div id="top" class="callbacks_container">
    <ul class="rslides" id="slider4">
        <li>
            <img class="" src="~/IMG/images/slide2.jpg" alt="">
            <div class="slider-caption">
                <div class="slider-caption-title">
                    <h3><span>B</span>at Man: Arkham Knight</h3>
                </div>
                <div class="slider-caption-inner">
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin lectus in quam elementum aliquet. Quisque gravida fringilla velit nec ornare. </p>
                    <a class="caption-btn" href="#">Xem Thêm</a>
                </div>
            </div>
        </li>

        <li>
            <img src="~/IMG/images/slide3.jpg" alt="">
            <div class="slider-caption">
                <div class="slider-caption-title">
                    <h3><span>N</span>eed For Speed</h3>
                </div>
                <div class="slider-caption-inner">

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin lectus in quam elementum aliquet. Quisque gravida fringilla velit nec ornare. </p>
                    <a class="caption-btn" href="#">Xem Thêm</a>
                </div>
            </div>
        </li>
        
        <li>
            <img src="~/IMG/images/slide1.jpg" alt="">
            <div class="slider-caption">
                <div class="slider-caption-title">
                    <h3><span>A</span>sasin Creed</h3>
                </div>
                <div class="slider-caption-inner">
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin lectus in quam elementum aliquet. Quisque gravida fringilla velit nec ornare. </p>
                    
                    <a class="caption-btn" href="#">Xem Thêm</a>
                </div>
            </div>
        </li>
                
    </ul>
</div>

